img {
    display: block; 
    margin-right: auto; 
    margin-left: auto; 
}
#wrapper {
    margin: 0 auto;
    color: white; 
    background-color: orange;
    text-align: center; 
    max-width: 2000x; 
}
html {
    background-color: black; 
}
