img {
    display: block; 
    margin-right: auto; 
    margin-left: auto; 
}
#wrapper {
    margin: 0 auto;
    color: white; 
    background-color: orange;
    text-align: center; 
    max-width: 2000x; 
}
html {
    background-color: black; 
}
#carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-height: 300px;
    overflow: hidden;
    gap: 10px;
}

#carousel img {
    max-height: 300px;
    aspect-ratio: auto 300 / 400;
    border-radius: 10px;
}

#buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

